.counters-container{
  display: flex;
  gap: 2rem;
}

.counter {
  width: 200px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
  font-size: 40px;
  /* gap: 1rem; */
}

.button {
  font-size: 1.5rem;
  min-width: 40px;
  height: 40px;
  margin: 0 1rem;
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
}